name: Documentation
on:
  push:
    branches: [ master, main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme
          # Installation des dépendances légères de votre setup.py
          pip install numpy matplotlib pandas meshio gmsh vtk
          # Installation de dolfin_mech en mode éditable
          pip install -e .

      - name: Build Sphinx Documentation
        run: |
          # On demande à Sphinx de lire le dossier docs/ et de build dans docs/build
          sphinx-build -b html docs/ docs/build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/build
          branch: gh-pages