name: Documentation
on:
  push:
    branches: [ master, main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme
          pip install numpy~=1.23 matplotlib~=3.5 pandas~=1.3 meshio~=5.3 vtk~=9.2 gmsh~=4.9
          pip install -e .

      - name: Generate API skeleton
        run: |
          # This creates modules.rst and dolfin_mech.rst automatically
          sphinx-apidoc -o docs/ dolfin_mech/

      - name: Build Sphinx Documentation
        run: |
          sphinx-build -b html docs/ docs/build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/build
          branch: gh-pages